mixin scrollto(data)    
    +b.A.scrollto.scroll-link-js(href=data.href ? `/${data.href}` : 'jv0' data-link=data.href data-slide=data.slide class=data.slide ? 'swiper-scrollto-js' : '')&attributes(attributes)
        block
